<div class="pricing-table text-center flex">
    <div class="table-header">
        <h2 class="pricing-table-title h3">{{t "Free"}}</h2>
        <div class="price">
            <span class="currency">{{@price.currency_symbol}}</span>
            <span class="value">{{t "0"}}</span>
            <span class="duration">{{t "Forever"}}</span>
        </div>
    </div>
    <ul class="table-details">
        <li>Access to all free private posts</li>
        <li>Weekly updates with new content</li>
        <li>Support independent publishing</li>
        <li>No card details required</li>
    </ul>
    <div class="table-footer">
        <a class="btn btn-primary" href="{{@site.url}}/signup/free/">{{t "Subscribe now"}}</a>
    </div>
</div>