<div class="pricing-table text-center flex">
    <div class="table-header">
        <h2 class="pricing-table-title h3">{{t "Yearly"}}</h2>
        <div class="price">
            <span class="currency">{{@price.currency_symbol}}</span>
            <span class="value">{{@price.yearly}}</span>
            <span class="duration">{{t "/ Year"}}</span>
        </div>
    </div class="table-header">
    <ul class="table-details">
        <li>Full access to all private posts</li>
        <li>Regular updates with new content</li>
        <li>Support independent publishing</li>
        <li>Simple, secure card payment</li>
        <li>One easy payment instead of 12!</li>
        <li>Get 25% discount!</li>
    </ul>
    <div class="table-footer">
        <a class="btn btn-primary" href="javascript:void(0)" data-members-plan="Yearly"><i class="fa fa-circle-o-notch fa-spin loading-icon"></i>{{t "Subscribe now"}}</a>
    </div>
</div>