{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="main-content-wrapper">
	<section class="main-content clearfix">
		{{#post}}
		<div class="outer-wrap post-full">
			<article class="{{post_class}}">
				{{#if feature_image}}
					<div class="featured-media"><img src="{{feature_image}}" alt="Post-image" class="img-responsive"></div>
				{{/if}}
				{{#if featured}}
				<div class="featured-ribbon">
					<i class="fa fa-star"></i>{{t "Featured"}}
				</div>
				{{/if}}
				<div class="post-content inner-wrap">
					<header>
						<h1 class="post-title">{{{title}}}</h1>
						<div class="post-meta">{{date format="MMMM DD, YYYY"}}</div>
					</header>
					<div class="post-excerpt">
						{{#if access}}
						{{content}}
						{{else}}
						<div class="post-excerpt">
							{{excerpt}}
						</div>
						{{> members/member-upgrade-cta}}
						{{/if}}
					</div>
					{{#if access}}
					<div class="tag-list">
							{{tags separator=""}}
					</div>
					<footer class="clearfix">
						{{> share}}
					</footer>
					{{/if}}
				</div>
			</article>
		</div>
		{{#if access}}
		<div class="outer-wrap">
			<div class="inner-wrap">
				{{> about-author}}
			</div>
		</div>
		<div class="outer-wrap">
			<div class="inner-wrap">
				{{> comment}}
			</div>
		</div>
		{{/if}}
		{{/post}}
	</section>
</div>